*{
    box-sizing: border-box;
  }


body {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  background: linear-gradient(180deg, #fa8585 10%, #f09030 60%);
  padding-bottom: 245px;
}


/* label{
    padding-right:10px;
    margin-bottom: 5px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* input{
    font-size: 25px;
    margin-bottom:  10px;
    box-shadow: 0px 3px 3px #999;
    border-radius: 5px;
    
} */
h1{
    text-align: center;
}
p{
    padding: 15px;
}

hr{
    padding-left: 15px;
    margin:15px;
    border-top: 3px solid rgb(84, 8, 8)
}
h1, p {
    color: rgb(84, 8, 8);
}

/* ---------PAST NOTES----------- */

.container-past{
    border-radius: 5px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 25%;   
}



/* -------------------------------------------------- */

/* ------------------NAVIGATION BAR ------------------*/
ul {
    color: white;
    /* position:inherit; */
  display: flex;
  align-items: center;
  margin-left: 50%;
}
li {
  list-style: none;
}

.container-navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */

}

.navBar{
    color: white;
    text-decoration: none;
  }

/* ------------------------- */

/* --------------LOG IN--------------- */
#username,
#password, #signup-username, #signup-email, #signup-password {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 45px;
  border-bottom: 2px solid rgb(167, 57, 57);
  border: none;
  /* background: transparent; */
  outline: none;
  border-radius: 15px;

}

.login-btn, .signup-btn {
  background: rgb(84, 8, 8);
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  top: 15px;
  right: 2px;
  width: 100%;
  height: 60px;
  margin: 0px 0px;
  position: relative;
  bottom: 30px;
  border-radius: 15px;
}

/* ------------------------------- */
  

  
.note-textbox {
  width: 100%;
  height: 300px;
  box-sizing: borderBox;
  resize: vertical;
  border-radius: 15px;
}

.row::after {
    content: "";
    display: table;
    clear:both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



  
  
  /* .signUp{
      margin-top:250px;
      background-color: white;
      width: 100%;
      box-sizing: borderBox;
      border-radius: 15px;
    } */
    
    
    /* -----------------------INTERFACE CSS---------------- */
    
    .container form{
        padding: 10px 0 0 0;
      }
      .container form .form-row{
        display: block;
      }
    
    .personal-note{
        background-color: white;
        width: 100%;
        box-sizing: borderBox;
        resize: vertical;
        border-radius: 15px;
        /* height: 300px; */
    }
    
.container form{
    padding: 30px 0 0 0;
  }

.container form .form-row{
    display: flex;
    margin: 32px 0px;
}

form .form-row .input-data{
    width: 100%;
    height: 60px;
    margin: 0 20px;
    position: relative;
    bottom: 30px;
  }

form .form-row .textarea{
    height: 70px;
  }

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  
}
/* border-bottom: 2px solid white; */

  select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 25px;
    margin-bottom: 5px;
  }

  #create {
    margin-left: 5%;
    margin-right: 5%;
  }

  label{
    color: white;
  }

 

  .submit-btn, .save-btn, .refresh-btn{
  background: rgb(84, 8, 8);
  border: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  right: 2px;
  width: 100%;
  height: 60px;
  margin: 0px 0px;
  position: relative;
  top: 35px;
  border-radius: 15px;
  }

 .save-btn{
    margin-bottom: 35px;
  }
  /* .save-btn:hover{
    background-color: rgb(84, 8, 8);
  } */
  .save-btn:disabled{
    opacity: 50%;
    background-color: rgb(84, 8, 8);

  }

/* -------------------------------------------- */